* {
    margin: 0;
    padding: 0;
}

/* Colour palette: https://colorhunt.co/palette/f9e0aefc8621c24914682c0e */

body {
    background-color: #F9E0AE;
}

.outer-circle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #FC8621;
    margin: 20px auto;
}

.inner-circle {
    width: 450px;
    height: 450px;
    background-color: #F9E0AE;
    border-radius: inherit;
    position: relative;
    top: 25px;
    left: 25px;
}