:root {
    --peach-colour: #F9E0AE;
    --dark-yellow: #C24914;
    --plain-yellow: #FC8621;
}

* {
    margin: 0;
    padding: 0;
}

/* Colour palette: https://colorhunt.co/palette/f9e0aefc8621c24914682c0e */
@media only screen and (min-width: 1920px) {
    .outer-circle {
        width: 600px;
        height: 600px;
    }

    .inner-circle {
        width: 550px;
        height: 550px;
    }
}

body {
    background-color: var(--peach-colour);
}

.outer-circle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: var(--plain-yellow);
    margin: 50px auto;
}

.inner-circle {
    width: 350px;
    height: 350px;
    background-color: var(--peach-colour);
    border-radius: inherit;
    position: relative;
    top: 25px;
    left: 25px;
}

#timer-label {
    text-align: center;
    position: inherit;
    font-size: 72px;
    top: 120px;
}

.timer-label-style {
    color: var(--dark-yellow);
    font-family: Quicksand;
}

#session-label {
    font-size: 22px;
    text-align: center;
    position: relative;
    top: 120px;
}

.btn-container {
    display: flex;
    justify-content: space-around;
    margin: 5em 0 0;
}

.btn-style {
    width: 125px;
    height: 40px;
    border-radius: 10px;
    border-style: none;
    font-size: 1rem;
    font-weight: 800;
    background-color: var(--plain-yellow);
    color: var(--peach-colour);
}

.btn-style:disabled, .btn-style:hover {
    background-color: var(--dark-yellow);
}